#confetti-container {
    position: absolute;
    z-index: -10;
}

.grassyhill {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    width: 85%;
    z-index: 0;
    bottom: 0px;
    animation: hillanimation var(--koth-length);
}

@keyframes hillanimation {
    0%,
    100% {
        transform: translateX(-50%) translateY(100%);
    }
    2%,
    98% {
        transform: translateX(-50%) translateY(0%);
    }
}

.rigged {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 80%;
    padding: 0px;
    margin: 0px;
    color: #f25703;
    font-size: 35px;
    width: fit-content;
    text-align: right;
}
div#buttonDisp {
    position: absolute;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: auto;
    right: auto;
    text-align: center;
}

div.testingButtons {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.testing.grassyhill {
    animation: none;
}

#grassyhill_1 {
    /* position: absolute; */
    opacity: 0;
    z-index: 0;
}

#grassyhill_2 {
    /* position: absolute; */
    opacity: 0;
    z-index: 0;
}

#grassyhill_3 {
    /* position: absolute; */
    opacity: 0;
    z-index: 0;
}
#buttonDiv {
    margin-top: 10px;
    margin-bottom: 20px;
}
div#winnerNotification {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
}
.display {
    font-family: var(--font-family);
    font-style: normal;
}
div#winnerNotification {
    margin-top: 10px;
    padding: 5px 0px;
    border: rgba(0, 0, 0, 0.8) solid;
    text-align: center;
}
#testing_user {
    text-align: center;
    margin: 0px 10px;
}
div#buttonDisp button {
    margin: 2px;
    padding: 3px;
    font-family: var(--font-family);
    /* font-style: 600; */
    font-size: 25px;
}

#testingWeaponButtonDiv div {
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
}
div#testingWeaponButtonDiv > button {
    max-width: max-content;
    margin: auto auto;
}

#testingWeaponButtonDiv {
    border: #f25703 dashed 2px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0);
}
#testingWeaponTitle {
    position: absolute;
    text-align: left;
    left: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
    width: fit-content;
    vertical-align: top;
    margin-left: 10px;
}
/* .card .card-body {
    text-align: center;
  } */
.card .card-body .card-title {
    margin-top: -1.25em;
    text-align: left;
}
.card-title {
    background-color: white;
    display: inline-flex;
}

div#buttonDisp button#left {
    margin-right: 0px;
    background-color: red;
    border-color: red;
    min-width: 60px;
}
div#buttonDisp button#right {
    margin-left: 0px;
    background-color: green;
    border-color: green;
    min-width: 60px;
}
div#buttonDisp button#winnerTest {
    background-color: green;
    border-color: green;
    min-width: 100px;
}

div#buttonDisp div.btn-group > button.btn {
    margin: 0px;
    padding: 0px 10px;
}

#winnerDiv {
    position: absolute;
    z-index: -10;
}
#lastWinnerDiv {
    position: absolute;
    z-index: -10;
}

#buttonDisp {
    z-index: 0;
}

div#lastWinnerName {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 110%);
    color: #fff;
    width: fit-content;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
}
